[submodule "stats/textbook"]
	path = stats/textbook
	url = https://github.com/jeancochrane/ThinkStats2
[submodule "deep-learning/practical-deep-learning"]
	path = deep-learning/practical-deep-learning
	url = git@github.com:jeancochrane/courses.git
